<!-- =============Banner Section============= -->
<section class="banner-slider text-center wow fadeIn">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="banner-section bg-none bg_img" data-background="./assets/images/banner/banner-bg02.jpg">
                <div class="container">
                    <div class="banner-content">
                        <span class="category">
                            100% secure platform for bulk sms
                        </span>
                        <h1 class="title">your all kind of bulk SMS you can buy form here </h1>
                        <p>Tristique rutrum et enim nulla, quis justo non ornare vitae quis. Neque lobortis in id eros est et, nulla quam. Habitant in mollis. Suscipit volutpat sed atinteger.</p>
                        <div class="video-button-group">
                            <a href="#0" class="custom-button active">contact to expert</a>
                            <div class="v-button">
                                <!-- <span>watch video</span> -->
                                <a data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/GT6-H4BRyqQ" class="video-button"><i
                                        class="flaticon-play-button"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="banner-section bg-none bg_img" data-background="./assets/images/banner/banner-bg01.jpg">
                <div class="container">
                    <div class="banner-content">
                        <span class="category">
                            Build a better customer experience
                        </span>
                        <h1 class="title">reach more customers with faster messaging</h1>
                        <p>Tristique rutrum et enim nulla, quis justo non ornare vitae quis. Neque lobortis in id eros est et, nulla quam. Habitant in mollis. Suscipit volutpat sed atinteger.</p>
                        <div class="video-button-group">
                            <a href="#0" class="custom-button active">contact to expert</a>
                            <div class="v-button">
                                <!-- <span>watch video</span> -->
                                <a data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/GT6-H4BRyqQ" class="video-button"><i
                                        class="flaticon-play-button"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-pagination"></div>
    <div class="banner-prev">
        <i class="flaticon-left-arrow"></i>
    </div>
    <div class="banner-next">
        <i class="flaticon-right-arrow"></i>
    </div>
</section>
<!-- =============Banner Section============= -->