
    <!--=================Overview Section================= -->
    <section class="overview-section bg-ash wow fadeIn">
        <div class="container-fluid p-lg-0">
            <div class="row m-0 flex-wrap-reverse justify-content-between">
                <div class="col-lg-6 padding-bottom padding-top">
                    <div class="overview-one-content mr-lg-15-xl">
                        <h2 class="title">Benefits of bulk SMS</h2>
                        <p>Menenatis malesuada at vestibulum, proin at nudit iaculis nullam ut, massa hac, arcu
                            adipiscing in vel ac amllicitudin tempus dictum donec lorem libero. Turpis integpendisse
                            felis, consectetuer odio, volutpat consectetuer erat tortor over hhead to do comeing </p>
                        <ul class="bullet-list">
                            <li>
                                Vestibulum id rhoncus tempus
                            </li>
                            <li>
                                Tellus fermentum a aenean
                            </li>
                            <li>
                                Pulvinar cursus imperdiet
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-0 col-xl-5">
                    <div class="overview-one-thumb w-100 h-100 bg_img"
                        data-background="./assets/images/overview/overview-bg01.jpg">
                        <img class="d-lg-none" src="./assets/images/overview/overview-bg01.jpg" alt="overview">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================Overview Section================= -->