<!--=================Overview Section================= -->
<section class="overview-two-section bg-ash wow fadeIn">
    <div class="container-fluid p-lg-0">
        <div class="row m-0 justify-content-between">
            <div class="col-lg-6 px-0 col-xl-5">
                <div class="overview-two-thumb w-100 h-100 bg_img d-flex align-items-end"
                    data-background="./assets/images/overview/overview-bg02.jpg">
                    <div class="overview-play-item">
                        <div class="o-play-thumb wow bounceInDown" data-wow-delay=".3s">
                            <a href="https://www.youtube.com/embed/GT6-H4BRyqQ" data-rel="lightcase:myCollection" class="video-button">
                                <i class="flaticon-play-button"></i>
                            </a>
                        </div>
                        <div class="o-play-content">
                            <h4 class="sub-title">
                                <a href="#0">mricali rockgun</a>
                            </h4>
                            <p>CEO & Funder , Messon</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 padding-bottom padding-top">
                <div class="overview-two-content ml-lg-15-xl">
                    <div class="overview-header-area">
                        <h2 class="title">
                            why people Choose Our bulk SMS service
                        </h2>
                        <p>Menenatis malesuada at vestibulum, proin at nubndit iaculis nullam ut, massa hac</p>
                    </div>
                    <div class="overview-item-area">
                        <div class="overview-item-item">
                            <h5 class="sub-title">24/7 support</h5>
                            <p>Amet mus venenatis dictucator amet wingty king primed</p>
                        </div>
                        <div class="overview-item-item">
                            <h5 class="sub-title">notification sms</h5>
                            <p>Amet mus venenatis dictucator amet wingty king primed</p>
                        </div>
                        <div class="overview-item-item">
                            <h5 class="sub-title">fast messages</h5>
                            <p>Amet mus venenatis dictucator amet wingty king primed</p>
                        </div>
                        <div class="overview-item-item">
                            <h5 class="sub-title">100% Secure</h5>
                            <p>Amet mus venenatis dictucator amet wingty king primed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Overview Section================= -->