    <!-- ==========Header Section========== -->
    <header class="<%= style_two ? 'style-two' : ''  %>">
        <div class="header-top d-none d-md-block bg-theme">
            <div class="container">
                <div class="header-top-wrapper">
                    <div class="row">
                        <div class="col-md-8">
                            <ul>
                                <li class="mr-3">
                                    <a href="Tel:839394845"><i class="fas fa-phone-square"></i>+9999 - 222 - 333</a>
                                </li>
                                <li>
                                    <a href="Mailto:messon@gmail.com"><i class="fas fa-envelope"></i>messon@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-end">
                            <ul class="social">
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- <div class="d-none d-md-block">
                                <select class="select-bar">
                                    <option value="01">English</option>
                                    <option value="02">Bangla</option>
                                    <option value="03">Hindi</option>
                                    <option value="04">Urdu</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-area">
                    <div class="logo">
                        <a href="/home"><img src="./assets/images/logo/logo02.png" alt="logo"></a>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="#0">company</a>
                            <ul class="submenu">
                                <li>
                                    <a href="/about">About Us</a>
                                </li>
                                <li>                                            <a href="/price-plan">Price Plan</a>
                                </li>                   
                            </ul>
                        </li>
                        <li>
                            <a href="#0">SMS</a>
                            <ul class="submenu">
                                <li>
                                    <a href="masking-sms.html">Transactional SMS</a>
                                </li>
                                <li>
                                    <a href="non-masking-sms.html">Promotional SMS</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/service">service</a>
                        </li>                
                        <li>
                            <a href="/sign-in">Sign In</a>
                        </li>
                        <li>
                            <a href="/sign-up">Sign Up</a>
                        </li>
                        <li>
                            <a href="/contact">contact</a>
                        </li>
                    </ul>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="select-bar-bar">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="search-form-area">
        <span class="hide-form">
            <i class="fas fa-times"></i>
        </span>
        <form class="search-form">
            <input type="text" placeholder="Search Here">
            <button type="submit"><i class="flaticon-search"></i></button>
        </form>
    </div>
    <!-- ==========Header Section========== -->