<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="./assets/images/page-header.jpg">
    <div class="container">
        <h1 class="title m-0">about company</h1>
    </div>
</section>
<div class="breadcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                About
            </li>
        </ul>
    </div>
</div>
<!-- =============Hero Area============= -->

<!--=================Bulk Sms================= -->
    <section class="bulk-sms padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse align-items-center">
            <div class="col-lg-6">
                <div class="bulk-content text-center text-sm-left">
                    <span>wellcome to bulk sms</span>
                    <h2 class="title">grobal Bulk SMS Service company</h2>
                    <p>Mauris iaculis pede, tellus commodo justo. Ligula in tortmris libero lectus libero aliquet,
                        vestibulum aut nullloret ac sictus, id pede quis quisque lacinia consectetuer. uere eros
                        velit eu nec arcu, repellat urna ad odio nunc. Doletiarcu eginrdum tiunt morbi, aenean dui
                        amet at mapro Sed quis nunc est justo, in in, elit lorem vulputate, suspendisse pellentesque
                        pede tpluptatem ut mattis, eros diam litora nullam. Ac cras, mollis quis maecenas urna
                        ullamper eros.</p>
                    <a href="#0" class="custom-button active">sign-up & start</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bulk-thumb">
                    <img src="./assets/images/bulk/bulk01.png" alt="bulk">
                </div>
            </div>
        </div>
    </div>
    </section>
<!--=================Bulk Sms================= -->

    <!--=================Our Service================= -->
    <section class="service-section padding-bottom padding-top">
        <div class="container">
            <div class="section-header">
                <span class="cate">sms type</span>
                <h2 class="title">Types of SMS You Can Send</h2>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-md-6 col-lg-4">
                    <div class="service-item text-center">
                        <div class="service-thumb">
                            <i class="flaticon-megaphone"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="title">promotional SMS</h4>
                            <p>Amet mus venenatis dictucator amet, amet amet egetsem team and group</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item text-center">
                        <div class="service-thumb">
                            <i class="flaticon-bell"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="title">SMS Notification</h4>
                            <p>Amet mus venenatis dictucator amet, amet amet egetsem team and group</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item text-center">
                        <div class="service-thumb">
                            <i class="flaticon-clock"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="title">SMS alert</h4>
                            <p>Amet mus venenatis dictucator amet, amet amet egetsem team and group</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================Our Service================= -->

     <!--=================Our Offer================= -->
     <section class="offer-section bg-ash padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <span class="cate">our offer</span>
                <h2 class="title">what we offer</h2>
            </div>
        </div>
        <div class="container mw-lg-100">
            <div class="row align-items-center flex-wrap-reverse">
                <div class="col-lg-6">
                    <div class="left-side-offer">
                        <h4 class="title">get our best offer for your better business</h4>
                        <p>Porttitor vivamus, pellentesque praesent feugiat sitluportaarcu neque sed, augue magna, non
                            libemaurisuricetiam erat, amet ac nulla lectus autem.</p>
                        <ul>
                            <li>Vestibulum id rhoncus tempus nul ultrices sollicitudin</li>
                            <li>Tellus fermentum a aenean varius morbi lorem lacinia</li>
                            <li>Pulvinar cursus imperdiet montes </li>
                            <li>Elementum purus maecenas condimentum sliquam amet inceptos</li>
                            <li>Convallis mi suspendisse eaque consectetuer </li>
                        </ul>
                        <p>Convallis in amet justo. Tellus fermentum a aenelaoreet libero in, at convallis varius morbi
                            lorem lacini Tcomentum id lacinia eros, lectus erat vel nullam, vel auctor.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-side-offer">
                        <img src="./assets/images/offer/offer01.png" alt="offer">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================Our Offer================= -->

<%- include('../partials/footer.ejs') %>
